* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #4b4b4b;
}

.hidden {
  display: none;
}

.header-title {
  width: 100%;
  min-height: 4.375rem;
  max-height: 6.25rem;
  padding-top: 2%;
  padding-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #7d5fff;
}

.header-title .menu {
  width: 1.5rem;
  height: 2rem;
  position: absolute;
  top: 4%;
  left: 7%;
  z-index: 3;
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header-title .menu div {
  height: 0;
  width: 100%;
  border: 0.09375rem solid #fff;
  border-radius: 0.625rem;
  background-color: #fff;
  -webkit-transform-origin: 0.0625rem;
          transform-origin: 0.0625rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin: 0.125rem;
}

.header-title .menu.close:hover {
  opacity: 0.5;
}

.header-title .menu.close div:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-title .menu.close div:nth-child(2) {
  margin-left: -100%;
  opacity: 0;
}

.header-title .menu.close div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 0.40625rem;
}

.header-title h1 {
  font-size: 1.875rem;
  color: #fff;
  font-family: "Baloo", sans-serif;
  cursor: default;
}

.confirm-delete {
  width: 100vw;
  height: 100vh;
  background: #00000094;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirm-delete .card {
  width: 23.125rem;
  height: 16.875rem;
  background: #777676e8;
  border-radius: 1.25rem;
  padding: 0.625rem;
}

.confirm-delete .card h2 {
  font-size: 1.875rem;
  color: #f7f4f4;
  font-family: "Popins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.confirm-delete .card .trash-can-img {
  width: 4.375rem;
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.confirm-delete .card p {
  font-size: 0.875rem;
  color: #e4e3e3;
  font-family: "Popins", sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  padding: 0.625rem;
}

.confirm-delete .card ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirm-delete .card ul li {
  margin: 0.625rem;
}

.confirm-delete .card ul li button {
  width: 6.25rem;
  max-width: 120rem;
  height: 1.875rem;
  border: none;
  border-radius: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem;
  font-size: 0.875rem;
  font-family: "Baloo", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.confirm-delete .card ul li .delete {
  background: #ff2424;
  color: #fff;
}

.confirm-delete .card ul li .delete:hover {
  border: 1px solid #ff2424;
  color: #ff2424;
  background: #ffffff71;
  -webkit-box-shadow: 0 0 20px 5px #00000062;
          box-shadow: 0 0 20px 5px #00000062;
}

.confirm-delete .card ul li .cancel {
  background: #000000bb;
  color: #fff;
}

.confirm-delete .card ul li .cancel:hover {
  background: #04920b;
  -webkit-box-shadow: 0 0 20px 5px #00000062;
          box-shadow: 0 0 20px 5px #00000062;
}

.confirm-delete.hidden {
  display: none;
}

.menu-opened {
  width: 18.75rem;
  height: 31.25rem;
  background: #757474;
  border: 1px solid #fff;
  border-radius: 1.25rem;
  position: absolute;
  left: 1%;
  padding: 1.25rem;
}

.menu-opened h3 {
  font-size: 1.25rem;
  font-family: "Baloo", sans-serif;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.menu-opened .clean-storage {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-opened .clean-storage p {
  visibility: visible;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-opened .clean-storage .fas.fa-trash-alt {
  color: #fff;
  width: 3.125rem;
  height: 3.125rem;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-opened .clean-storage:hover {
  background: #ff000085;
}

.menu-opened .clean-storage:hover p {
  display: none;
}

.menu-opened .clean-storage:hover .fas.fa-trash-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-opened a {
  visibility: visible;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.menu-opened a .linkedin,
.menu-opened a .github {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-opened a .fab.fa-linkedin,
.menu-opened a .fab.fa-github {
  color: #fff;
  width: 6.25rem;
  height: 6.25rem;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-opened a:hover .github {
  background: #2bff0085;
}

.menu-opened a:hover .linkedin {
  background: #0011ff85;
}

.menu-opened a:hover p {
  display: none;
}

.menu-opened a:hover .fab.fa-linkedin,
.menu-opened a:hover .fab.fa-github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-opened div {
  width: 100%;
  height: 3.125rem;
  border-radius: 1.25rem;
  background: #4b4b4bbb;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25rem;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-opened div p,
.menu-opened div a {
  font-size: 1rem;
  font-family: "Popins", "Baloo", sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
}

.conversation-elements {
  width: 31.25rem;
  min-height: 100vh;
  height: 100%;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #a8a8a8ad;
  margin: 0 auto;
  border: 3px dashed #fff;
  border-top: none;
  border-bottom: none;
  padding: 1.25rem;
}

.conversation-elements .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conversation-elements .wrapper .save-conversation.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 2.5rem;
  width: 2.5rem;
  background: #d5d5d5;
  border-radius: 0.3125rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conversation-elements .wrapper .save-conversation.checkbox::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 1.5625rem;
  display: none;
}

.conversation-elements .wrapper .save-conversation.checkbox:hover {
  background: #a5a5a5;
}

.conversation-elements .wrapper .save-conversation.checkbox:checked {
  background-color: #5bcd3e;
  color: #fff;
}

.conversation-elements .wrapper .save-conversation.checkbox:checked::after {
  display: block;
}

.conversation-elements .wrapper label {
  color: #4c4c4c;
  font-size: 1.4375rem;
  font-family: "Popins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin-left: 1.25rem;
}

.conversation-elements .tooltip-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conversation-elements .tooltip-button .talk {
  max-width: 6.25rem;
  min-width: 5rem;
  height: 3.125rem;
  border: none;
  border-radius: 1.25rem;
  background: #c56cf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Baloo", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  margin-right: 10.625rem;
  margin-left: 9.375rem;
}

.conversation-elements .tooltip-button .talk .fas.fa-microphone-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conversation-elements .tooltip-button .talk:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #252525b7;
          box-shadow: 0px 0px 10px 0px #252525b7;
}

.conversation-elements .tooltip-button .talk:active {
  background: #540b79;
}

.conversation-elements .tooltip-button .talk.talking {
  -webkit-animation: "pulse" 0.7s infinite;
          animation: "pulse" 0.7s infinite;
}

@-webkit-keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.conversation-elements .tooltip-button .tooltip-text {
  opacity: 0;
  width: 7.5rem;
  height: 3.125rem;
  background: #000000b0;
  color: #fff;
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.3125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  font-family: "Baloo", sans-serif;
  left: -100%;
  margin-left: -150px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.conversation-elements .tooltip-button:hover .tooltip-text {
  opacity: 1;
}

.conversation-elements .conversation .my-message,
.conversation-elements .conversation .robot-message,
.conversation-elements .conversation .weather-message {
  width: converToRem(100rem);
  min-width: 3.125rem;
  height: auto;
  padding: 0.625rem;
  padding-left: 1.25rem;
  border-radius: 1.5625rem;
  font-size: medium;
  color: #fff;
  font-family: "Popins", sans-serif;
  cursor: default;
  margin-top: 0.625rem;
}

.conversation-elements .conversation .my-message .time,
.conversation-elements .conversation .robot-message .time,
.conversation-elements .conversation .weather-message .time {
  display: block;
  font-size: 0.8125rem;
  font-weight: bolder;
  margin-top: 0.3125rem;
  color: #e6e6e6;
}

.conversation-elements .conversation .my-message {
  background: #2b2bf38e;
  margin-left: 1.25rem;
}

.conversation-elements .conversation .my-message::before {
  content: "You";
  color: #fff;
  font-size: 0.75rem;
  font-weight: bolder;
  display: block;
  margin-bottom: 0.625rem;
}

.conversation-elements .conversation .robot-message {
  background: #303030d7;
  margin-right: 1.25rem;
}

.conversation-elements .conversation .weather-message {
  background: #0a5369d7;
  margin-right: 1.25rem;
}

.conversation-elements .conversation .weather-message .image-weather {
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-width: 5rem;
  max-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.conversation-elements .conversation .weather-message .weather-status {
  font-size: 1.25rem;
  color: #bdc3c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}

.conversation-elements .conversation .weather-message .humidity {
  font-size: converToRem(14rem);
  color: #7ed6df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.conversation-elements .conversation .weather-message .temperature {
  font-size: 0.875rem;
  color: #f6e58d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  padding: 1.25rem;
}

.conversation-elements .conversation .weather-message .feelsLike,
.conversation-elements .conversation .weather-message .windSpeed,
.conversation-elements .conversation .weather-message .cloudsLevel {
  font-size: 1.125rem;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: converToRem(2.5rem);
}

.conversation-elements .conversation .weather-message .cloudsLevel {
  margin-bottom: 0.3125rem;
}
/*# sourceMappingURL=styles.css.map */