@import "./functions";

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #4b4b4b;
}

::-webkit-scrollbar {
  width: convertToRem(20rem);
}

::-webkit-scrollbar-thumb {
  background: #ffffff11;
  transition: all 0.4s ease;
  border-radius: 50px;
  border: 0.5px solid #ffffff8a;

  &:hover {
    background: #ffffff8a;
    border: none;
  }
}

.hidden {
  display: none;
}

.header-title {
  width: 100%;
  min-height: convertToRem(70rem);
  max-height: convertToRem(100rem);
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7d5fff;

  .menu {
    width: 1.5rem;
    height: 2rem;
    position: absolute;
    top: 4%;
    left: 7%;
    z-index: 3;
    cursor: pointer;
    transition: all 0.4s linear;

    div {
      height: 0;
      width: 100%;
      border: convertToRem(1.5rem) solid #fff;
      border-radius: convertToRem(10rem);
      background-color: #fff;
      transform-origin: convertToRem(1rem);
      transition: all 0.3s linear;
      margin: convertToRem(2rem);
    }
  }

  .menu.close {
    &:hover {
      opacity: 0.5;
    }
    div {
      &:nth-child(1) {
        transform: rotate((45deg));
      }
      &:nth-child(2) {
        margin-left: -100%;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: convertToRem(6.5rem);
      }
    }
  }

  h1 {
    font-size: convertToRem(30rem);
    color: #fff;
    font-family: "Baloo", sans-serif;
    cursor: default;
  }
}

.confirm-delete {
  width: 100vw;
  height: 100vh;
  background: #00000094;
  display: flex;
  position: fixed;
  z-index: 5;
  align-items: center;
  justify-content: center;

  .card {
    width: convertToRem(370rem);
    height: convertToRem(270rem);
    background: #777676e8;
    border-radius: convertToRem(20rem);
    padding: convertToRem(10rem);

    h2 {
      font-size: convertToRem(30rem);
      color: #f7f4f4;
      font-family: "Popins", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
    }

    .trash-can-img {
      width: convertToRem(70rem);
      height: convertToRem(70rem);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: convertToRem(30rem);
      margin-bottom: convertToRem(20rem);
    }

    p {
      font-size: convertToRem(14rem);
      color: #e4e3e3;
      font-family: "Popins", sans-serif;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
      padding: convertToRem(10rem);
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin: convertToRem(10rem);

        button {
          width: convertToRem(100rem);
          max-width: 120rem;
          height: convertToRem(30rem);
          border: none;
          border-radius: convertToRem(50rem);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: convertToRem(20rem);
          font-size: convertToRem(14rem);
          font-family: "Baloo", sans-serif;
          text-transform: uppercase;
          font-weight: bolder;
          cursor: pointer;
          transition: all 0.4s ease;
        }

        .delete {
          background: #ff2424;
          color: #fff;

          &:hover {
            border: 1px solid #ff2424;
            color: #ff2424;
            background: #ffffff71;
            box-shadow: 0 0 20px 5px #00000062;
          }
        }

        .cancel {
          background: #000000bb;
          color: #fff;

          &:hover {
            background: #04920b;
            box-shadow: 0 0 20px 5px #00000062;
          }
        }
      }
    }
  }
}

.confirm-delete.hidden {
  display: none;
}

.menu-opened {
  width: convertToRem(300rem);
  height: convertToRem(500rem);
  background: #757474;
  border: 1px solid #fff;
  border-radius: convertToRem(20rem);
  position: absolute;
  left: 1%;
  padding: convertToRem(20rem);

  h3 {
    font-size: convertToRem(20rem);
    font-family: "Baloo", sans-serif;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
  }

  .clean-storage {
    transition: all 0.3s;
    p {
      visibility: visible;
      transition: all 0.3s;
    }

    .fas.fa-trash-alt {
      color: #fff;
      width: convertToRem(50rem);
      height: convertToRem(50rem);
      display: none;
      transition: all 0.3s;
    }

    &:hover {
      background: #ff000085;
      p {
        display: none;
      }
      .fas.fa-trash-alt {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  a {
    visibility: visible;
    transition: all 0.3s;
    text-decoration: none;
    .linkedin,
    .github {
      transition: all 0.3s;
    }

    .fab.fa-linkedin,
    .fab.fa-github {
      color: #fff;
      width: convertToRem(100rem);
      height: convertToRem(100rem);
      display: none;
      transition: all 0.3s;
    }

    &:hover {
      .github {
        background: #2bff0085;
      }

      .linkedin {
        background: #0011ff85;
      }

      p {
        display: none;
      }
      .fab.fa-linkedin,
      .fab.fa-github {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  div {
    width: 100%;
    height: convertToRem(50rem);
    border-radius: convertToRem(20rem);
    background: #4b4b4bbb;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: convertToRem(20rem);
    cursor: pointer;
    transition: all 0.4s;

    p,
    a {
      font-size: convertToRem(16rem);
      font-family: "Popins", "Baloo", sans-serif;
      text-decoration: none;
      color: #fff;
      font-weight: bolder;
      text-transform: uppercase;
    }
  }
}

.conversation-elements {
  width: convertToRem(500rem);
  min-height: 100vh;
  height: 100%;
  display: block;
  justify-content: center;
  background: #a8a8a8ad;
  margin: 0 auto;
  border: 3px dashed #fff;
  border-top: none;
  border-bottom: none;
  padding: convertToRem(20rem);

  .wrapper {
    display: flex;

    .save-conversation.checkbox {
      appearance: none;
      height: convertToRem(40rem);
      width: convertToRem(40rem);
      background: #d5d5d5;
      border-radius: convertToRem(5rem);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c";
        font-size: convertToRem(25rem);
        display: none;
      }

      &:hover {
        background: #a5a5a5;
      }

      &:checked {
        background-color: #5bcd3e;
        color: #fff;

        &::after {
          display: block;
        }
      }
    }
    label {
      color: #4c4c4c;
      font-size: convertToRem(23rem);
      font-family: "Popins", sans-serif;
      font-weight: 600;
      cursor: pointer;
      margin-left: convertToRem(20rem);
    }
  }

  .microphone-bar {
    height: convertToRem(50rem);
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    margin-top: convertToRem(10rem);

    .talk {
      max-width: convertToRem(100rem);
      min-width: convertToRem(80rem);
      height: convertToRem(50rem);
      border: none;
      border-radius: convertToRem(20rem);
      background: #c56cf0;
      display: block;
      justify-content: center;
      align-items: center;
      font-family: "Baloo", sans-serif;
      font-weight: bolder;
      text-transform: uppercase;
      color: #fff;
      transition: all 0.5s;
      cursor: pointer;
      margin: auto;
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;

      .fas.fa-microphone-alt {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        box-shadow: 0px 0px 10px 0px #252525b7;
      }

      &:active {
        background: #540b79;
      }
    }
    .talk.talking {
      animation: "pulse" 0.7s infinite;

      @keyframes pulse {
        from {
          opacity: 1;
        }
        to {
          opacity: 0.3;
        }
      }
    }
  }

  .conversation {
    .my-message,
    .robot-message,
    .weather-message {
      width: converToRem(100rem);
      min-width: convertToRem(50rem);
      height: auto;
      padding: convertToRem(10rem);
      padding-left: convertToRem(20rem);
      border-radius: convertToRem(25rem);
      font-size: medium;
      color: #fff;
      font-family: "Popins", sans-serif;
      cursor: default;
      margin-top: convertToRem(10rem);

      .time {
        display: block;
        font-size: convertToRem(13rem);
        font-weight: bolder;
        margin-top: convertToRem(5rem);
        color: #e6e6e6;
      }
    }

    .my-message {
      background: #2b2bf38e;
      margin-left: convertToRem(20rem);

      &::before {
        content: "You";
        color: #fff;
        font-size: convertToRem(12rem);
        font-weight: bolder;
        display: block;
        margin-bottom: convertToRem(10rem);
      }
    }

    .robot-message {
      background: #303030d7;
      margin-right: convertToRem(20rem);
    }

    .weather-message {
      background: #0a5369d7;
      margin-right: convertToRem(20rem);
      .image-weather {
        min-width: convertToRem(40rem);
        min-height: convertToRem(40rem);
        max-width: convertToRem(80rem);
        max-height: convertToRem(80rem);

        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
      }

      .weather-status {
        font-size: convertToRem(20rem);
        color: #bdc3c7;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: convertToRem(20rem);
      }

      .humidity {
        font-size: converToRem(14rem);
        color: #7ed6df;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
      }

      .temperature {
        font-size: convertToRem(14rem);
        color: #f6e58d;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        padding: convertToRem(20rem);
      }

      .feelsLike,
      .windSpeed,
      .cloudsLevel {
        font-size: convertToRem(18rem);
        color: #fafafa;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: converToRem(2.5rem);
      }

      .cloudsLevel {
        margin-bottom: convertToRem(5rem);
      }
    }
  }
}

.no-messages-wrapper {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: convertToRem(20rem);
  padding: convertToRem(10rem) convertToRem(20rem);
  border-radius: 10px;
  border: 1px solid #d63031;
  background: #ff7675;
  color: #fff;

  h1 {
    font-size: clamp(convertToRem(20rem), convertToRem(25rem));
    font-family: "Poppins", sans-serif;
    display: block;
    text-align: center;
  }

  p {
    font-size: clamp(0.5rem, convertToRem(15rem), convertToRem(20rem));
    font-family: "Poppins", sans-serif;
    display: flex;
  }

  .close-no-messages {
    font-size: clamp(1rem, convertToRem(20rem), converToRem(25rem));
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: convertToRem(10rem);
  }
}
