<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/general.css" />
    <script
      src="https://kit.fontawesome.com/4bae6c4864.js"
      crossorigin="anonymous"
    ></script>

    <script src="/__/firebase/8.8.1/firebase-app.js"></script>

    <script src="/__/firebase/init.js"></script>

    <title>Robot Speaker | By Allan Julie</title>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
  </head>
  <body>
    <div class="confirm-delete hidden">
      <div class="card">
        <h2>Excluir</h2>
        <img
          class="trash-can-img"
          src="/images/trash-can.png"
          alt="Trash can - delete"
        />
        <p>Do you really want to delete all your messages?</p>
        <ul>
          <li><button class="delete">Delete</button></li>
          <li><button class="cancel">Cancel</button></li>
        </ul>
      </div>
    </div>
    <nav class="header-title">
      <div class="menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h1 id="page title" translate="no">Robot Speaker</h1>
    </nav>
    <div class="menu-opened hidden">
      <h3 translate="no">Robot Speaker</h3>
      <hr />
      <div class="clean-storage">
        <i class="fas fa-trash-alt"></i>
        <p>Delete conversation</p>
      </div>
      <a href="https://github.com/Allan28818/Command-voice" target="_blank">
        <div class="github">
          <i class="fab fa-github"></i>
          <p>Github</p>
        </div>
      </a>
      <a
        href="https://www.linkedin.com/in/allan-julie-b535811b4/"
        target="_blank"
      >
        <div class="linkedin">
          <i class="fab fa-linkedin"></i>
          <p>Linkedin</p>
        </div>
      </a>
    </div>

    <section class="conversation-elements" id="conversation-father">
      <div class="wrapper">
        <input
          type="checkbox"
          class="save-conversation checkbox"
          id="check"
          name="save-input"
          checked
        />
        <label for="check">Save conversation?</label>
      </div>

      <div class="conversation">
        <div class="no-messages-container"></div>
      </div>

      <div class="microphone-bar">
        <button class="talk" id="talk-btn" name="talk-btn">
          <i class="fas fa-microphone-alt"></i>
        </button>
      </div>
    </section>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/scripts/index.js" type="module"></script>

    <script
      src="/scripts/controllers/weatherController.js"
      type="module"
    ></script>
    <script
      src="/scripts/controllers/locationController.js"
      type="module"
    ></script>
    <script
      src="/scripts/controllers/html-templates/animateHTML.js"
      type="module"
    ></script>
    <script
      src="/scripts/controllers/sentencesControllers/judgeTheMessageByTheSentence.js"
      type="module"
    ></script>

    <script
      src="/scripts/services/deleteConversation.js"
      type="module"
    ></script>

    <script
      src="/scripts/controllers/handlers/handleSubmitMessages.js"
      type="module"
    ></script>
  </body>
</html>
