<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Robot Speaker | Login</title>
  </head>
  <body>
    <nav>
      <h1>Robot Speaker</h1>
    </nav>

    <div class="login-wrapper">
      <h3>Make your login!</h3>
      <form action="" method="post">
        <input type="text" placeholder="Type your email" />
        <input type="password" placeholder="Type your password" />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
