@import "./functions";

body {
  transition: all 0.4s ease;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: clamp(70px, 450px, 600px);
    height: clamp(70px, 450px, 600px);
    border-radius: 50%;
    background: #7d5fff;
    position: absolute;
    bottom: 10%;
    left: -10%;
    z-index: -1;
    transform: rotate(10deg);
  }

  &::after {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    border-top: 100px solid transparent;
    border-right: 200px solid #7d5fff;
    border-left: 100px solid transparent;
    position: absolute;
    bottom: 12%;
    right: 20%;
    z-index: -1;
    transform: rotate(30deg);
  }
}

::-webkit-scrollbar {
  width: convertToRem(20rem);
}

::-webkit-scrollbar-thumb {
  background: #ffffff11;
  transition: all 0.4s ease;
  border-radius: 50px;
  border: 0.5px solid #ffffff8a;

  &:hover {
    background: #ffffff8a;
    border: none;
  }
}

@media (max-width: 730px) {
  body {
    &:after {
      border-top: 75px solid transparent;
      border-right: 150px solid #7d5fff;
      border-left: 75px solid transparent;
      top: 20%;
      transform: rotate(-50deg);
    }

    &::before {
      width: clamp(40px, 280px, 480px);
      height: clamp(40px, 280px, 480px);
      bottom: 15%;
      left: -6.5%;
    }
  }
}

.sign-up-wrapper {
  min-width: 200px;
  width: 50%;
  height: convertToRem(500rem);
  background: #7e7d7db2;
  border-radius: convertToRem(30rem);
  border: 1px solid #7c5fffdc;
  box-shadow: 0 0 10px 0.1px #7c5fffd3;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3.5%;
  padding: convertToRem(30rem);
  backdrop-filter: blur(2px);

  .title {
    font-size: clamp(20px, 5px, 10%);
    color: #fafafa;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  .form-wrapper {
    display: block;
    width: 100%;

    input {
      width: 100%;
      min-width: convertToRem(150rem);
      height: max(40px, 50px);
      border: none;
      background: #9e9e9e94;
      color: #c0bdbd;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: convertToRem(17rem);
      padding: 20px;
      border-radius: 20px;
      margin-top: 10px;
      transition: ease 0.5s focus;

      &::-webkit-input-placeholder {
        color: #c0bdbd;
      }

      &:focus {
        border-bottom: 3px solid #7d5fff;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        transition: ease 0.3s;
        color: #fff;
      }

      &:hover {
        transition: ease 0.3s;
        opacity: 0.5;
      }
    }

    button[type="submit"] {
      width: clamp(40%, 50%, 80%);
      min-width: convertToRem(100rem);
      height: convertToRem(40rem);
      border: none;
      border-radius: convertToRem(50rem);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 15%;

      font-size: clamp(15px, 15%, 35px);
      font-weight: bold;
      font-family: "Baloo", sans-serif;
      color: #fff;
      background: #7d5fff;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        border: 2px solid #fff;
        opacity: 0.3;
      }
    }

    .auth-actions {
      display: block;
      width: 100%;
      height: auto;
      margin-top: convertToRem(10rem);

      a {
        font-size: clamp(
          convertToRem(13.5rem),
          convertToRem(16.5rem),
          converToRem(19rem)
        );
        font-family: "Baloo", sans-serif;
        font-weight: 600;
        display: block;
        transition: all 0.2s;
        color: #fff;

        &:hover {
          opacity: 1;
          text-decoration-style: dashed;
        }

        &:nth-child(1):hover {
          color: #8f77fa;
          text-decoration-color: #8f77fa;
        }
        &:nth-child(2):hover {
          color: #2ecc71;
          text-decoration-color: #2ecc71;
        }
      }
    }
  }
}
